.admin-dashboard-container {
	display: inline-block;
	margin-top: 60px;
	padding: 20px;
	width: 100%;
    background: #fafafa;
}
.admin-dashboard-container button, html input[type=button], input[type=reset], input[type=submit] {
	border-radius: 5px;
    background: #98cad1;
    background-image: linear-gradient(#98cad1, #68beca);
    color: white;
    border: transparent;
}
.admin-dashboard-container button img {
	height: 16px;
}
.admin-dashboard-container input {
	border-color: #ddd;
	border-width: 1px;
	border-radius: 3px;
    padding: 0 10px;
}
.row-admin {
	display: inherit;
    width: 100%;
}
.button-delete {
	background: #f44336 !important;
}
.button-cancel {
	background: #bdbdbd !important;
}
.form-row {
	display: flex;
	margin-bottom: 3px;
}
.form-row label {
	color: #333333;
	flex: 1;
	margin-bottom: 0px;
}
.form-row input {
	color: #333333;
	flex: 2
}
.title-form {
	font-size: 16px;
    margin-bottom: 15px;
    text-align: center;
}
.title {
	margin: 30px 15px 50px;
	font-size: 30px;
	text-align: center;
    font-weight: bold;
    color: #333;
}
.button   {
	text-align: right;
	margin-top: 10px;
}
.warning {
	color: red;
	float: right;
	flex: 2;
}
.button-group{
	display: inline-block;
	float: right;
}

.list-article-category,
.list-article,
.list-recipe-category,
.list-recipe,
.list-webBanner,
.list-webSubBanner,
.list-miniProgramBanner,
.list-miniProgramSubBanner {
	list-style: none;
}
.articles-section,
.recipes-section,
.webBanners-section,
.webSubBanners-section,
.miniProgramBanners-section,
.miniProgramSubBanners-section {
	padding: 0px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    background: white;
}
.articles-section:hover,
.recipes-section:hover,
.webBanners-section:hover,
.webSubBanners-section:hover,
.miniProgramBanners-section:hover,
.miniProgramSubBanners-section:hover {
	box-shadow: 0px 2px 4px #aaaaaa
}
.title-article-category,
.title-recipe-category,
.title-webBanner,
.title-webSubBanner,
.title-miniProgramBanner ,
.title-miniProgramSubBanner {
	background: rgb(250,250,250);
    margin: 0px;
    padding: 10px 20px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom: 1px solid #ddd;
}
.title-article-category h4,
.title-recipe-category h4,
.title-webBanner h4,
.title-webSubBanner h4,
.title-miniProgramBanner h4,
.title-miniProgramSubBanner h4 {
    color: #777777;
    font-weight: bold;
    display: inline-block;
    margin: 0px;
    line-height: 25px;
}
.new-article-category-form,
.new-recipe-category-form,
.new-webBanner-form ,
.new-webSubBanner-form ,
.new-miniProgramBanner-form ,
.new-miniProgramSubBanner-form {
	margin: 10px 0px;
}
.list-article-category,
.list-recipe-category,
.list-webBanner,
.list-webSubBanner,
.list-miniProgramBanner ,
.list-miniProgramSubBanner  {
	margin: 0px;
	padding: 20px;
    background: white;
    border-radius: 5px;
	max-height: 400px;
    overflow: scroll;
}
.list-article-category li,
.list-recipe-category li ,
.list-webBanner li ,
.list-webSubBanner li ,
.list-miniProgramBanner li ,
.list-miniProgramSubBanner li {
	margin-bottom: 20px;
}
.list-article ,
.list-recipe ,
.list-webBanner,
.list-webSubBanner,
.list-miniProgramBanner {
	padding-left: 20px;
}
.list-article li,
.list-recipe li ,
.list-webBanner li ,
.list-webSubBanner li ,
.list-miniProgramBanner li,
.list-miniProgramSubBanner li  {
	margin-bottom: 10px;
}
.list-article-category .row,
.list-recipe-category .row ,
.list-webBanner .row  ,
.list-webSubBanner .row  ,
.list-miniProgramBanner .row ,
.list-miniProgramSubBanner .row  {
	margin: 0px;
    margin-bottom: 5px;
}
.label-article-category,
.label-article,
.label-recipe-category,
.label-recipe ,
.label-webBanner ,
.label-webSubBanner ,
.label-miniProgramBanner,
.label-miniProgramSubBanner {
	display: inline-block;
}
.new-article-category-form,
.update-article-category-form,
.new-article-form,
.edit-article-form,
.new-recipe-category-form,
.update-recipe-category-form,
.new-recipe-form,
.edit-recipe-form ,
.new-webBanner-form,
.update-webBanner-form,
.edit-webBanner-form ,
.new-webSubBanner-form,
.update-webSubBanner-form,
.edit-webSubBanner-form ,
.new-miniProgramBanner-form,
.update-miniProgramBanner-form,
.edit-miniProgramBanner-form,
.edit-miniProgramSubBanner-form {
	width: 100%;
	padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: inline-block;
    background: rgb(238,238,238);
    margin-bottom: 20px;
}
.new-article-category-form,
.new-recipe-category-form,
.new-webBanner-form,
.new-webSubBanner-form,
.new-miniProgramBanner-form,
.new-miniProgramSubBanner-form {
	margin: 20px;
    width: inherit;
    display: block;
}
.label-webBanner-url,
.label-webSubBanner-url,
.label-miniProgramBanner-url,
.label-miniProgramSubBanner-url {
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 100px;
    margin-left: 18px;

}
.label-webBanner-url label,
.label-webSubBanner-url label,
.label-miniProgramBanner-url label,
.label-miniProgramSubBanner-url label {
    font-weight: normal;
}

@media only screen and (max-width: 475px) { 
	.title {
		font-size: 30px;
	}
	.admin-dashboard-container {
		padding-left: 0px;
		padding-right: 0px;
	}
}
