

	<div class="col-xs-12 col-sm-6 col-md-4 position-inherit" ng-click="$parent.show('yuanli')">
		<div class="panel panel-default panel-articles">
		    <div class="panel-heading">       
		        <a>硬知识：生酮和减肥的原理</a>               
		    </div>
		    
		    <img src='https://pic1.zhimg.com/v2-a2993f3c6f5303ab782ac80a3d550c9c_b.jpg' style="width: 100%">
		    </img>
		    <div class="appmsg_desc panel-footer">最全面、最易懂、图文并茂的生酮饮食解析：人体产生酮体的过程、生酮减肥的原理
		    </div>
		    
		</div>
	</div>

	<div class="col-xs-12 col-sm-6 col-md-4 position-inherit" ng-click="$parent.show('dizhiyinshi')">
		<div class="panel panel-default panel-articles">
		    <div class="panel-heading">       
		        <a>临床数据：低脂饮食为什么没法减肥？</a>               
		    </div>
		    
		    <img src='https://mmbiz.qlogo.cn/mmbiz_jpg/tAAQlvuy66qklr56dickMQNwJeLgLFC1ibdb3ItibkWGNOf43RjjUHhFSHXcR9LKvVzA6W7ic6BNMQ3sSHEwCXBiaZg/0?wx_fmt=jpeg' style="width: 100%">
		    </img>
		    <div class="appmsg_desc panel-footer">到底是高脂还是低脂？让我们用科学数据说话…
		    </div>
		    
		</div>
	</div>
