

	<div class="col-xs-12 col-sm-6 col-md-4 position-inherit" ng-click="$parent.show('reganmian')">
		<div class="panel panel-default panel-articles">
		    <div class="panel-heading">       
		        <a>低碳水食谱：热干魔芋粉丝</a>               
		    </div>
		    
		    <img src='https://pic2.zhimg.com/v2-b512886c212d34910499dcf427febe35_b.jpg' style="width: 100%">
		    </img>
		    <div class="appmsg_desc panel-footer">
		    热干面即是正义！！！香喷喷~ 吃饱饱~ 不胖胖~ 生酮人的福利贴
		    </div>
		    
		</div>
	</div>

	<div class="col-xs-12 col-sm-6 col-md-4 position-inherit" ng-click="$parent.show('beizidangao')">
		<div class="panel panel-default panel-articles">
		    <div class="panel-heading">       
		        <a>一分钟巧克力杯子蛋糕</a>              
		    </div>
		    
		    <img src='https://pic3.zhimg.com/v2-9057e8c0f7c71dcfad1ed6026a7ef3f6_b.jpg' style="width: 100%">
		    </img>
		    <div class="appmsg_desc panel-footer">
		    	ｄ(･∀･*)♪ﾟ简单又好吃的低碳水食谱
		    </div>
		    
		</div>
	</div>
