

	<div class="col-xs-12 col-sm-6 col-md-4 position-inherit">
		<div class="panel panel-default panel-articles" ng-click="$parent.show('rumen')">
		    <div class="panel-heading">       
		        生酮人入门必读             
		    </div>
		    
		    <img src='https://pic3.zhimg.com/v2-643e3d2ad28e7a422cc91f8a1d3feb16_b.jpg' style="width: 100%">
		    </img>
		    <div class="appmsg_desc panel-footer">
		    	吃脂肪，减脂肪？
		    </div>
		    
		</div>
	</div>

	<div class="col-xs-12 col-sm-6 col-md-4 position-inherit">
		<div class="panel panel-default panel-articles" ng-click="$parent.show('shiwu')">
		    <div class="panel-heading">       
		        什么能吃？什么不能吃？如何计算碳水?               
		    </div>
		    
		    <img src='https://pic4.zhimg.com/v2-da21486410d4e0d55188a4660125245f_b.jpg' style="width: 100%">
		    </img>
		    <div class="appmsg_desc panel-footer">一口气讲清楚关于食物选择的迷思（附赠师姐最爱生酮食材、App）
		    </div>
		    
		</div>
	</div>

	<div class="col-xs-12 col-sm-6 col-md-4 position-inherit" >
		<div class="panel panel-default panel-articles" ng-click="$parent.show('shiying')">
		    <div class="panel-heading" >      
		        生酮适应期：副作用及解决方法              
		    </div>
		    
		    <img src='https://pic4.zhimg.com/v2-bae1ef1c0931f86fde2286ff064d1b7f_b.jpg' style="width: 100%">
		    </img>
		    <div class="appmsg_desc panel-footer">😶我才不要告诉你虚弱、脱发、抽筋、便秘……这些副作其实是可以避免的呢~
		    </div>
		    
		</div>
	</div>