<div class="footer-container" ng-style=footerStyle>
	<div class="container" >
		<div class="col-xs-12 footer-instruction">
			<p>【免责声明】该账号发表的所有文章仅作为科普知识分享，目的是让大家了解不同类型的饮食方式和健康观点，填补相关中文资源空缺。由于每个人的体质和疾病状况不同，本账号的内容不能取代专业的医疗建议，请大家为自己的健康做出明智的选择。
			</p>
			<p>【版权说明】本文为@X生酮实验室原创，欢迎各位分享到自己的朋友圈、微博。任何其他媒体及账号不得进行抄袭，未经允许在其他地方看到都视为盗用，并坚决举报到底。文中部分图片设计来自 freepik、flaticon 和 google image。
			 </p>
		</div>
		<div class="col-xs-12">
			<p class="footer">
				<a href="/about?category=us" >2016 XKetoLab</a> 
				<!-- <a ng-style=colorFooter>|</a> -->
				<!-- <a href="/contact" ng-style=colorFooter> CONTACT US</a> 
				<a ng-style=colorFooter></a> -->
			</p>
		</div>
	</div>
</div>
