
<h2 class="about-title"> 联系我们 </h2>

<br>

<div class="panel panel-default panel-about-contact">	
	<h4>邮箱: <a href="mailto:xketolab@gmail.com?Subject=Hello%20XKetoLab" target="_top">xketolab@gmail.com</a></h4>
</div>
<div class="panel panel-default panel-about-contact">	
	<h4>微博: <a href="http://weibo.com/u/2194878224" target="_blank">@X生酮实验室</a></h4>
</div>
<div class="panel panel-default panel-about-contact">	
	<h4>微信: xketolab</h4>
</div>
<div class="panel panel-default panel-about-contact">	
	<h4>知乎: <a href="https://zhuanlan.zhihu.com/xketolab" target="_blank"> 生酮饮食</a></h4>
</div>
<div class="panel panel-default panel-about-contact">	
	<h4>Instagram: <a href="https://www.instagram.com/xketolab/" target="_blank">@xketolab</a></h4>
</div>

<br>
<br>
<br>