<div class="navbar navbar-default navbar-fixed-top navbar-custimize2" id="navbar-id">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="secondCollaps()">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="/" ng-style="logoStyle" id="brand">
        <img alt="XKetoLab" src="../../assets/image/index/zerolablogo.jpg">
        <div class="navbar-brand-word">ZERO实验室</div>
      </a>
    </div>
    <div uib-collapse="isSecondCollapsed" class="navbar-collapse collapse">

      <ul class="nav nav-pills navbar-right navbarSecond-left">
        <li ng-class="{active: isActive('/learn')}"><a class="nav-second-a" href="/learn" ng-click="secondClose()">知识库</a></li>
        <li ng-class="{active: isActive('/recipe')}"><a class="nav-second-a" href="/recipe" ng-click="secondClose()">食谱</a></li>
        <li ng-class="{active: isActive('/gigl')}"><a class="nav-second-a" href="/gigl" ng-click="secondClose()">升糖指数/负荷</a></li>
        <li ng-class="{active: isActive('/calculator')}"><a class="nav-second-a" href="/calculator" ng-click="secondClose()">X生酮计算器</a></li>
        <li ng-class="{active: isActive('/about')}"><a class="nav-second-a" href="/about" ng-click="secondClose()">关于我们</a></li>
        <li ng-show="isAdminLoggedIn()"><a class="nav-second-a" ng-click="adminLogOut()" href="#">注销</a></li>
      </ul>
    </div>
  </div>