<div class="navbar navbar-default navbar-fixed-top navbar-custimize2" id="navbar-id">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="secondCollaps()">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="/" ng-style="logoStyle" id="brand">
        <img alt="XKetoLab" src="../../assets/image/index/zerolablogo.jpg">
        <div class="navbar-brand-word">ZERO实验室</div>
      </a>
    </div>
    <div uib-collapse="isSecondCollapsed" class="navbar-collapse collapse">

      <ul class="nav nav-pills navbar-right navbarSecond-left">
        <!-- <li class="btn-group" uib-dropdown is-open="status.isopen_about">
          <a class="nav-second-a" href="#" ng-disabled="disabled" uib-dropdown-toggle>
            关于我们 <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
            <li role="menuitem"><a ng-click="secondClose()" href="/about?category=us">关于X生酮实验室</a></li>
            <li role="menuitem"><a ng-click="secondClose()" href="/about?category=theory">不作恶</a></li>
            <li role="menuitem"><a ng-click="secondClose()" href="/about?category=contribution">投稿</a></li>
            <li role="menuitem"><a ng-click="secondClose()" href="/about?category=share">转载须知</a></li>
            <li role="menuitem"><a ng-click="secondClose()" href="/about?category=contact">联系我们</a></li>
          </ul>
        </li> -->
        <!-- <li class="btn-group" uib-dropdown is-open="status.isopen_articles" >
          <a class="nav-second-a" href="#" ng-disabled="disabled" uib-dropdown-toggle>
            学习生酮 <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
            <li role="menuitem"><a ng-click="secondClose()" href="/articles?category=theory">理论死磕</a></li>
            <li role="menuitem"><a ng-click="secondClose()" href="/articles?category=practice">实践攻略</a></li>
            <li role="menuitem"><a ng-click="secondClose()" href="/articles?category=women">女性关怀</a></li>
            <li role="menuitem"><a ng-click="secondClose()" href="/articles?category=recipe">食谱分享</a></li>
          </ul>
        </li> -->
        <li ng-class="{active: isActive('/learn')}"><a class="nav-second-a" href="/learn" ng-click="secondClose()">知识库</a></li>
        <li ng-class="{active: isActive('/recipe')}"><a class="nav-second-a" href="/recipe" ng-click="secondClose()">食谱</a></li>
        <li ng-class="{active: isActive('/gigl')}"><a class="nav-second-a" href="/gigl" ng-click="secondClose()">升糖指数/负荷</a></li>
        <li ng-class="{active: isActive('/calculator')}"><a class="nav-second-a" href="/calculator" ng-click="secondClose()">X生酮计算器</a></li>
        <li ng-class="{active: isActive('/about')}"><a class="nav-second-a" href="/about" ng-click="secondClose()">关于我们</a></li>
        <li ng-show="isAdminLoggedIn()"><a class="nav-second-a" ng-click="adminLogOut()" href="#">注销</a></li>
        <!-- <li ng-class="{active: isActive('/nutritions')}"><a class="nav-second-a" href="/nutritions" ng-click="secondClose()">营养查询</a></li>     
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><a class="nav-second-a" href="/login">登录</a></li>
        <li class="dropdown" ng-show="isLoggedIn()">
          <a ng-hide="isAdmin()" href="/profile" class="dropdown-toggle nav-second-a" data-toggle="dropdown " role="button">
            欢迎 {{ currentUser() }} <span class="caret"></span>
          </a>
          <a ng-show="isAdmin()" href="/admin_setting" class="dropdown-toggle nav-second-a" data-toggle="dropdown" role="button">
            欢迎 {{ currentUser() }} <span class="caret"></span>
          </a>
        </li>
        <li ng-show="isLoggedIn()"><a class="nav-second-a" ng-click="logOut()" href="#">注销</a></li> -->
      </ul>
    </div>
  </div>