<section class="_135editor" data-tools="135编辑器" data-id="84261" style="border: 0px none; padding: 0px; position: relative;">
    <section class="layout" style="border: 0px; margin: 3px auto; box-sizing: border-box; padding: 0px;">
        <section class="135brush" data-style="color: rgb(51, 51, 51); font-size: 1em; line-height: 1.75em; word-break: break-all; word-wrap: break-word; text-align: justify;" style="margin: 3px auto; padding: 0.8em; box-sizing: border-box; color: inherit; 
        background-color: #f2f2f2; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(#fafafa, #f2f2f2); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#fafafa, #f2f2f2); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#fafafa, #f2f2f2); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#fafafa, #f2f2f2); /* Standard syntax */">
            <p style="line-height: normal; text-align: center; white-space: normal;">
                <span style="font-size: 20px; color: #FF6827"><strong>⚠️警告</strong></span>
            </p>
            <p style="line-height: normal; white-space: normal;">
                <br/>
            </p>
            <p style="color: rgb(32, 32, 32); font-family: 微软雅黑; white-space: normal;">
                <span style="font-size: 12px;">生酮饮食（低碳水、高脂肪、适量蛋白质饮食）是一种较极端的低碳水饮食，它通过模拟饥饿状态，利用其生物化学和神经学的优势达到治疗肥胖症、糖尿病、癫痫等医疗效果，但同时也具有一定的风险和副作用。</span>
            </p>
            <p style="color: rgb(32, 32, 32); font-family: 微软雅黑; white-space: normal;">
                <span style="font-size: 12px;">生酮饮食对饮食者的要求非常高，需要掌握足够的营养学常识，也需要对自身身体有足够了解。<span style="color: #FF6827;"><strong>如果在不理解方法的情况下擅自进行生酮饮食，可能会造成不良后果。</strong></span></span>
            </p>
            <p style="color: rgb(32, 32, 32); font-family: 微软雅黑; white-space: normal;">
                <br/>
            </p>
            <p style="color: rgb(32, 32, 32); font-family: 微软雅黑; text-align: center; white-space: normal;">
                <span style="color: #FF6827;"><strong>请勿盲目跟风！</strong></span>
            </p>
            <p style="color: rgb(32, 32, 32); font-family: 微软雅黑; text-align: center; white-space: normal;">
                <br/>
            </p>
            <p style="color: rgb(32, 32, 32); font-family: 微软雅黑; white-space: normal;">
                <span style="color: #000000; font-size: 12px;">由于生酮饮食相关的中文科普资源太少，导致许多人因盲目尝试而走上了错误的道路，对健康造成伤害！「<span style="text-decoration: inherit;">X生酮实验室」的创建的目的就是填补这一空白，科普生酮，倡导低碳水饮食，让人们能更清楚地认识生酮饮食的好处和风险、适合与不适合、注意事项与误区</span></span><span style="font-size: 14px; color: #000000; text-decoration: inherit;">。</span>
            </p>
        </section>
    </section>
</section>
<section class="" style="padding: 20px 10px; color: #333; font-family: 微软雅黑; white-space: normal; margin-bottom: 3px;
        background-color: #f2f2f2; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(#fafafa, #f2f2f2); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#fafafa, #f2f2f2); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#fafafa, #f2f2f2); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#fafafa, #f2f2f2); /* Standard syntax */">
    <p style="white-space: normal; color: inherit; font-family: 微软雅黑; font-size: 1em; text-align: center;">
        <strong style="color: inherit; font-size: 20px; text-decoration: inherit;color: #333;padding: 20px auto;">目录</strong>
    </p>
    <p style="line-height: normal; white-space: normal;">
        <br/>
    </p>
    <p style="white-space: normal; font-size: 14px; border-bottom: solid 1px #e3e3e3; padding: 5px">
        | 美味同马甲线兼得？
    </p>
    <p style="white-space: normal; font-size: 14px; border-bottom: solid 1px #e3e3e3; padding: 5px">
        | 从「原始人」到「癫痫病」到「好莱坞」，生酮饮食操碎了心
    </p>
    <p style="white-space: normal; font-size: 14px; border-bottom: solid 1px #e3e3e3; padding: 5px">
        | 三分钟入门生酮饮食
    </p>
    <p style="white-space: normal; font-size: 14px; border-bottom: solid 1px #e3e3e3; padding: 5px">
        | 生酮的「好处」和「副作用」
    </p>
    <p style="white-space: normal; font-size: 14px; padding: 5px">
        | 师姐为何要做生酮人？
    </p>
</section>
<section class="" style="padding: 20px 10px; color: #333; font-family: 微软雅黑; white-space: normal; margin-bottom: 3px;
        background-color: #f2f2f2; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(#fafafa, #f2f2f2); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#fafafa, #f2f2f2); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#fafafa, #f2f2f2); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#fafafa, #f2f2f2); /* Standard syntax */">
    <p style="line-height: normal; white-space: normal;">
        <br/>
    </p>
    <p style="white-space: normal; color: inherit; font-family: 微软雅黑; font-size: 1em; text-align: left;">
        <strong style="color: inherit; font-size: 16px; text-decoration: inherit;color: #333;padding: 20px 5px;">美味同马甲线兼得？</strong>
    </p>
    <p style="line-height: normal; white-space: normal;">
        <br/>
    </p>
    <p style="white-space: normal; font-size: 14px; padding: 5px">
        我第一次接触到生酮饮食是在一个广播节目上听到一个40岁的女健身教练的故事她介绍她自己的饮食是「高脂肪+间歇性断食」（High Fat Diets and Fasting），然后说自己现在身体各项指标如何如何健康。
    </p>
    <p style="white-space: normal; font-size: 14px; padding: 5px">
        我当时脑补了一下感觉她每天吃的是这样：
    </p>
    <p style="line-height: normal; white-space: normal;">
        <br/>
    </p><img data-type="gif" src="http://image2.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpel9wbmcvdEFBUWx2dXk2Nm9sNzBVNWx6V3FpYmdZbmE3TzdjekdoSnd1VGtFREhMRm15bm9ZUHlOR1ljUlczNDRTdWljVk5oaWJQeXZXcG05Qk9WNVJ3elIyU3lMY2cvMD93eF9mbXQ9Z2lm" data-ratio="0.584" data-w="500"/>
    <p style="line-height: normal; white-space: normal;">
        <br/>
    </p>
    <p style="white-space: normal; font-size: 14px; padding: 5px">
        后来我去搜索了她的照片，结果发现她长这样：
    </p>
    <p style="line-height: normal; white-space: normal;">
        <br/>
    </p><img data-s="300,640" data-type="jpeg" src="http://image2.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpel9qcGcvdEFBUWx2dXk2Nm9sNzBVNWx6V3FpYmdZbmE3TzdjekdoZm1DcG5CaWI4TEZZQlJPTVZxOVZDdERLTGliZ1MycW80M1RxM0w2R2lieFhGZWtPaEJlaWEwV21EQS8wP3d4X2ZtdD1qcGVn" data-ratio="1.3333333333333333" data-w="825"/>
    <p style="line-height: normal; white-space: normal;">
        <br/>
    </p>
    <p style="white-space: normal; font-size: 14px; padding: 5px">
        <span style="color: #000000;">( ｣ﾟДﾟ)｣＜</span>你们城里人就是会玩~ 吓的师姐赶紧去吃了一大碗红烧肉压压惊！
    </p>
    <p style="white-space: normal; font-size: 14px; padding: 5px">
        好奇的师姐搜了搜，发现她这种饮食叫「生酮饮食」（ketogenic diet）, 已经在美国健身圈流行了几十年了。
    </p>
    <p style="white-space: normal; font-size: 14px; padding: 5px">
        Instagram上生酮话题下有几百万张照片
    </p>
    <p style="line-height: normal; white-space: normal;">
        <br/>
    </p><img data-s="300,640" data-type="jpeg" src="http://image2.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpel9qcGcvdEFBUWx2dXk2Nm9sNzBVNWx6V3FpYmdZbmE3TzdjekdoUGljREMzRmRyelFNRWNMQ2NmOTlZQ20wU0NIVDF2bGZ2dVhsRTNaaFh4NWljd1Q1ZUFpY0dWVXJRLzA/d3hfZm10PWpwZWc=" data-ratio="1.0073770491803278" data-w="1220"/>
    <p style="line-height: normal; white-space: normal;">
        <br/>
    </p>
    <p style="white-space: normal; font-size: 14px; padding: 5px">
        网络上无数晒生酮减肥 before &amp; after 照片的美帝群众，请大家自行谷歌~
    </p>
    <p style="line-height: normal; white-space: normal;">
        <br/>
    </p><img data-s="300,640" data-type="jpeg" src="http://image2.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpel9qcGcvdEFBUWx2dXk2Nm9sNzBVNWx6V3FpYmdZbmE3TzdjekdoUmY3VjQ3UkR2ZTQzTFlwV05wMkNlWmlhRFduaWFtZ05ONU1OcHZCblFXZGNTZXRyd3lRNlJIa3cvMD93eF9mbXQ9anBlZw==" data-ratio="0.46328125" data-w="1280"/>
    <p style="line-height: normal; white-space: normal;">
        <br/>
    </p>
    <p style="white-space: normal; font-size: 14px; padding: 5px">
        看完这些，师姐成功的被那位40岁的健身教练安利，被带上了高脂肪低碳水生酮的「不归路」……
    </p>
    <p style="white-space: normal; font-size: 14px; padding: 5px">
        Once go fat, never go back. &gt;_(:з」∠)_
    </p>
    <p style="white-space: normal; font-size: 14px; padding: 5px">
        关于生酮饮食的营养学原理，可以在公众号对话框回复【生酮过程】【减肥原理】查看。
    </p>
    <p style="white-space: normal; font-size: 14px; padding: 5px">
        如果想看高脂肪VS低脂肪相关的临床研究，请回复【低脂饮食】。
    </p>
</section>
<section class="" style="padding: 20px 10px; color: #333; font-family: 微软雅黑; white-space: normal; margin-bottom: 3px;
        background-color: #f2f2f2; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(#fafafa, #f2f2f2); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#fafafa, #f2f2f2); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#fafafa, #f2f2f2); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#fafafa, #f2f2f2); /* Standard syntax */">
    <p style="line-height: normal; white-space: normal;">
        <br/>
    </p>
    <p style="white-space: normal; color: inherit; font-family: 微软雅黑; font-size: 1em; text-align: left;">
        <strong style="color: inherit; font-size: 16px; text-decoration: inherit;color: #333;padding: 20px 5px;">从「原始人」到「癫痫病」再到「好莱坞」，生酮饮食操碎了心</strong>
    </p>
    <p style="line-height: normal; white-space: normal;">
        <br/>
    </p>
    <p style="white-space: normal; font-size: 14px; padding: 5px"> 
        ▍一点生酮饮食的历史：
    </p>
    <ul class=" list-paddingleft-2">
        <li>
            <p style="border-bottom: solid 1px #e3e3e3">
                <span style="font-size: 14px; color: #333333;">1920年作为一种癫痫治疗方法被引入大家视野。</span>
            </p>
        </li>
        <li>
            <p style="border-bottom: solid 1px #e3e3e3">
                <span style="font-size: 14px; color: #333333;">1960年代，人们发现生酮饮食对减肥的功效非常显著，于是开始用它治疗肥胖症。</span>
            </p>
        </li>
        <li>
            <p style="border-bottom: solid 1px #e3e3e3">
                <span style="font-size: 14px; color: #333333;">1990年代至今，它作为一种有效的减肥、降脂的方式渐渐流行起来，尤其在肥胖症、糖尿病人、健身圈、好莱坞明星中流传甚广。</span>
            </p>
        </li>
    </ul>
    <p style="line-height: normal; white-space: normal;">
        <br/>
    </p>
    <p style="white-space: normal; font-size: 14px; padding: 5px">
        ▍原始饮食：
    </p>
    <p style="white-space: normal; font-size: 14px; padding: 5px">
        生酮饮食还有一个肩并肩的「兄弟」，叫做「原始饮食」（Paleo Diet），他们都有类似的价值观：
    </p>
    <p style="white-space: normal; font-size: 14px; padding: 5px">
        「高脂肪低碳水」的饮食才是我们人类祖先一直以来习惯的营养结构，也是我们现代人应该追求的健康生活方式。
    </p>
    <p style="line-height: normal; white-space: normal;">
        <br/>
    </p><img data-s="300,640" data-type="jpeg" src="http://image2.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpel9qcGcvdEFBUWx2dXk2Nm9sNzBVNWx6V3FpYmdZbmE3TzdjekdodXFxYVIyWDRIeWlhcUdhbms3SUhjWjZvak5NUEJZd2lhTHdkR3pPZE4waGtabXJTU0pEWjZaWHcvMD93eF9mbXQ9anBlZw==" data-ratio="0.7203125" data-w="1280"/>
    <p style="line-height: normal; white-space: normal;">
        <br/>
    </p>
    <p style="white-space: normal; font-size: 14px; padding: 5px">
        1.2万年前，随着农业的出现，人类开始进食大量的碳水化合物（米饭、面包、面条、土豆）。如今大家吃的高碳水化合物的饮食仅仅在人类历史长河中中持续了 0.5-1 万年。
    </p>
    <p style="white-space: normal; font-size: 14px; padding: 5px">
        距今一两百年间出现了工业，人类又开始制造大量糖类、精米面、各种加工食品（能迅速被身体吸收、快速升高血糖和胰岛素），这些也就变成了我们现在的主要食物来源。
    </p>
    <p style="white-space: normal; font-size: 14px; padding: 5px">
        可以看出，人类的饮食习惯发生了翻天覆地的变化！可是我们的基因却没办法在相对如此「短」的时间内适应这种变化。这也就是生酮饮食和原始饮食的的动机——返璞归真。
    </p>
</section>
<section class="" style="padding: 20px 10px; color: #333; font-family: 微软雅黑; white-space: normal; margin-bottom: 3px;
        background-color: #f2f2f2; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(#fafafa, #f2f2f2); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#fafafa, #f2f2f2); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#fafafa, #f2f2f2); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#fafafa, #f2f2f2); /* Standard syntax */">
    <p style="line-height: normal; white-space: normal;">
        <br/>
    </p>
    <p style="white-space: normal; color: inherit; font-family: 微软雅黑; font-size: 1em; text-align: left;">
        <strong style="color: inherit; font-size: 16px; text-decoration: inherit;color: #333;padding: 20px 5px;">三分钟入门生酮饮食</strong>
    </p>
    <p style="line-height: normal; white-space: normal;">
        <br/>
    </p>
    <p style="white-space: normal; font-size: 14px; padding: 5px">
        我们先快速了解一下传统的高碳水饮食：
    </p>
    <ul class=" list-paddingleft-2">
        <li>
            <p style="width: 100%; border-bottom: solid 1px #e3e3e3 ">
                <span style="font-size: 14px; color: #333333;">大量的碳水化合物</span>
            </p>
        </li>
        <li>
            <p style="width: 100%; border-bottom: solid 1px #e3e3e3 ">
                <span style="font-size: 14px; color: #333333;">适量的蛋白质</span>
            </p>
        </li>
        <li>
            <p style="width: 100%; border-bottom: solid 1px #e3e3e3 ">
                <span style="font-size: 14px; color: #333333;">适量的脂肪</span>
            </p>
        </li>
    </ul>
    <p style="line-height: normal; white-space: normal;">
        <br/>
    </p><img data-s="300,640" data-type="jpeg" src="http://image2.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpel9qcGcvdEFBUWx2dXk2Nm9sNzBVNWx6V3FpYmdZbmE3TzdjekdockVzM3RTbG9RcllaVFVNd0ZEVER6d2h5SlAxSkNaWG5xM2liZUdMNFE3S2pSRUVRYlJxaWMxencvMD93eF9mbXQ9anBlZw==" data-ratio="0.8785871964679912" data-w="906"/><img data-s="300,640" data-type="png" src="http://image2.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpel9wbmcvdEFBUWx2dXk2Nm9sNzBVNWx6V3FpYmdZbmE3TzdjekdobmlhWDJIWHFzRmpzekdyQ3hhaWNURWJiTVNHRnFubjNUMWhlOGVFMXlwaEV4dWVYNnFqTVhDQncvMD93eF9mbXQ9cG5n" data-ratio="0.5050100200400801" data-w="998"/>
    <p style="line-height: normal; white-space: normal;">
        <br/>
    </p>
    <p style="white-space: normal; font-size: 14px; padding: 5px">
        而生酮饮食是这样的
    </p>
    <ul class=" list-paddingleft-2">
        <li>
            <p style="width: 100%; border-bottom: solid 1px #e3e3e3  ">
                <span style="font-size: 14px; color: #333333;">大量的脂肪 </span>
            </p>
        </li>
        <li>
            <p style="width: 100%; border-bottom: solid 1px #e3e3e3  ">
                <span style="font-size: 14px; color: #333333;">适量的蛋白质</span>
            </p>
        </li>
        <li>
            <p style="width: 100%; border-bottom: solid 1px #e3e3e3  ">
                <span style="font-size: 14px; color: #333333;">极少量的碳水化合物</span>
            </p>
        </li>
    </ul>
    <p style="line-height: normal; white-space: normal;">
        <br/>
    </p><img data-s="300,640" data-type="jpeg" src="http://image2.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpel9qcGcvdEFBUWx2dXk2Nm9sNzBVNWx6V3FpYmdZbmE3TzdjekdoY0VsaFV2cEtOYkc3ZDd3dEEzQUVzRUROaWJDVkxtVXVrZUYxaWNIOG9DOWJzRmNkcVNOZXhGekEvMD93eF9mbXQ9anBlZw==" data-ratio="1.03203125" data-w="1280"/><img data-s="300,640" data-type="png" src="http://image2.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpel9wbmcvdEFBUWx2dXk2Nm9sNzBVNWx6V3FpYmdZbmE3TzdjekdobXNrSWVGaWIzSWJsMEY1WFlhYUdxWUl3WE91R3JGVWU4c2tOcVBRNDBpYjMxbkRiSloxd21aM2cvMD93eF9mbXQ9cG5n" data-ratio="0.44789762340036565" data-w="1094"/>
    <p style="white-space: normal; font-size: 14px; padding: 5px">
        <br/>
    </p>
    <p style="white-space: normal; font-size: 14px; padding: 5px">
        所以生酮饮食可以吃这些：
    </p>
    <p style="white-space: normal; font-size: 14px; padding: 5px">
        肉、鱼、蛋、几乎所有长在地上的蔬菜、天然的油脂（黄油、猪油、椰子油）、某些坚果、某些奶制品、某些莓子……
    </p>
    <p style="line-height: normal; white-space: normal;">
        <br/>
    </p><img data-s="300,640" data-type="jpeg" src="http://image2.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpel9qcGcvdEFBUWx2dXk2Nm9sNzBVNWx6V3FpYmdZbmE3Tzdjekdoa0RDU095MTNuMWliN29ITk5uVmhKZm53elhoOUxKaEJJTUZMSkxhTjIwdmw5VG9YdTNPdlE3US8wP3d4X2ZtdD1qcGVn" data-ratio="0.3315696649029982" data-w="1134"/>
    <p style="line-height: normal; white-space: normal;">
        <br/>
    </p>
    <p style="white-space: normal; font-size: 14px; padding: 5px">
        生酮饮食不能吃这些（至少是要少吃）
    </p>
    <p style="white-space: normal; font-size: 14px; padding: 5px">
        所有基于大米小麦的主食、所有根茎类高淀粉蔬菜、豆类、几乎所有的水果、甜食、酒精饮料……
    </p>
    <p style="line-height: normal; white-space: normal;">
        <br/>
    </p><img data-s="300,640" data-type="jpeg" src="http://image2.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpel9qcGcvdEFBUWx2dXk2Nm9sNzBVNWx6V3FpYmdZbmE3TzdjekdoNWZ1bmt2UGliWlBlQjFXcEdkUnl6S0RpYXdnZWsxUlBjbzBoMmhWU3hLSVlaeEs4OWRxOEpBdUEvMD93eF9mbXQ9anBlZw==" data-ratio="0.4234375" data-w="1280"/>
    <p style="line-height: normal; white-space: normal;">
        <br/>
    </p>
    <p style="white-space: normal; font-size: 14px; padding: 5px">
        如果想要知道生酮饮食具体应该吃多少碳水化合物、脂肪、蛋白质，可以回复【吃多少】。
    </p>
    <p style="white-space: normal; font-size: 14px; padding: 5px">
        更多关于生酮饮食具体的食物选择，可以在公众号对话框回复【食物宝典】【查询食物】。
    </p>
</section>
<section class="" style="padding: 20px 10px; color: #333; font-family: 微软雅黑; white-space: normal; margin-bottom: 3px;
        background-color: #f2f2f2; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(#fafafa, #f2f2f2); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#fafafa, #f2f2f2); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#fafafa, #f2f2f2); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#fafafa, #f2f2f2); /* Standard syntax */">
    <p style="line-height: normal; white-space: normal;">
        <br/>
    </p>
    <p style="white-space: normal; color: inherit; font-family: 微软雅黑; font-size: 1em; text-align: left;">
        <strong style="color: inherit; font-size: 16px; text-decoration: inherit;color: #7ACCC0;padding: 20px 5px;">涨姿势：</strong>
    </p>
    <p style="line-height: normal; white-space: normal;">
        <br/>
    </p>
    <p style="white-space: normal; font-size: 14px; padding: 5px">
        「水果是健康食品啊！而且旧石器时代的人类不是采集蔬菜水果吗？为什么生酮饮食不吃？？？」
    </p>
    <p style="white-space: normal; font-size: 14px; padding: 5px">
        看图(´･_･`)
    </p>
    <p style="line-height: normal; white-space: normal;">
        <br/>
    </p><img data-s="300,640" data-type="jpeg" src="http://image2.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpel9qcGcvdEFBUWx2dXk2Nm9sNzBVNWx6V3FpYmdZbmE3TzdjekdoMGVXSUFYd2VRb0luMjBUU29qUEl5SGljZVVnQm5taGNDT3lubURWUXJFakthbjRraWEwYXFxQlEvMD93eF9mbXQ9anBlZw==" data-ratio="1.432" data-w="1000"/>
    <p style="line-height: normal; white-space: normal;">
        <br/>
    </p>
    <p style="white-space: normal; font-size: 14px; padding: 5px">
        今天大家吃到的水果都是经过了几百甚至几千年的时间，在人类的选择培育下被进化出来 的，其中的糖含量远远超出了远古时代的水果。由于是人工干预的结果，水果在生酮饮食界常被称为「大自然里的糖」。
    </p>
    <p style="white-space: normal; font-size: 14px; padding: 5px">
        Fruit is candy from nature.
    </p>
</section>
<section class="" style="padding: 20px 10px; color: #333; font-family: 微软雅黑; white-space: normal; margin-bottom: 3px; position: relative;
        background-color: #f2f2f2; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(#fafafa, #f2f2f2); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#fafafa, #f2f2f2); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#fafafa, #f2f2f2); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#fafafa, #f2f2f2); /* Standard syntax */">
    <p style="line-height: normal; white-space: normal;">
        <br/>
    </p>
    <p style="white-space: normal; color: inherit; font-family: 微软雅黑; font-size: 1em; text-align: left;">
        <strong style="color: inherit; font-size: 16px; text-decoration: inherit;color: #333;padding: 20px 5px;">「生酮」的「好处」和「副作用」</strong>
    </p>
    <p style="line-height: normal; white-space: normal;">
        <br/>
    </p>
    <p style="white-space: normal; font-size: 14px; padding: 5px">
        一般人在开始生酮饮食后，身体会逐步慢慢进入「营养性生酮状态」（Nutritional ketosis），也被称作「酮症」。简单地说就是身体开始分解脂肪、产生酮体了
    </p>
    <p style="white-space: normal; font-size: 14px; padding: 5px">
        俗称为「生酮」。其具体过程大概就是：
    </p>
    <p style="line-height: normal; white-space: normal;">
        <br/>
    </p>
    <section style="text-align: center;font-size: 14px;">
        <span style="color: #000000;">&nbsp;血糖和胰岛素降低</span>
    </section>
    <section style="text-align: center;font-size: 14px;">
        <span style="color: #000000;">&nbsp;↓</span>
    </section>
    <section style="text-align: center;font-size: 14px;">
        <span style="color: #000000;">&nbsp;糖原被消耗尽</span>
    </section>
    <section style="text-align: center;font-size: 14px;">
        <span style="color: #000000;">&nbsp;↓</span>
    </section>
    <section style="text-align: center;font-size: 14px;">
        <span style="color: #000000;">&nbsp;身体需要能量</span>
    </section>
    <section style="text-align: center;font-size: 14px;">
        <span style="color: #000000;">&nbsp;↓</span>
    </section>
    <section style="text-align: center;font-size: 14px;">
        <span style="color: #000000;">&nbsp;肝脏被逼无奈将脂肪分解转化成酮体</span>
    </section>
    <section style="text-align: center;font-size: 14px;">
        <span style="color: #000000;">&nbsp;↓</span>
    </section>
    <section style="text-align: center;font-size: 14px;">
        <span style="color: #000000;">&nbsp;酮体进入血液循环</span>
    </section>
    <section style="text-align: center;font-size: 14px;">
        <span style="color: #000000;">&nbsp;↓</span>
    </section>
    <section style="text-align: center;font-size: 14px;">
        <span style="color: #000000;">&nbsp;运送给大脑和其他细胞使用。</span>
    </section>
    <p style="line-height: normal; white-space: normal;">
        <br/>
    </p><img data-s="300,640" data-type="jpeg" src="http://image2.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpel9qcGcvdEFBUWx2dXk2NnFra1QzdGhpYVZHRkdGWmlhWkxpY0l1cUNoNjlVVXhiMTZWSUxoQlpCSDFLSWRaQVpYemlhcEFEeTRhQ09FOUMyaWJ2TUlCaGNMWUt5d2prZy8wP3d4X2ZtdD1qcGVn" data-ratio="0.5292056074766355" data-w="856"/>
    <p style="line-height: normal; white-space: normal;">
        <br/>
    </p>
    <p style="white-space: normal; font-size: 14px; padding: 5px">
        如果是严格进行生酮饮食，身体通常需要 2-15 天时间时间才开始生酮，因人而异。
    </p>
    <p style="white-space: normal; font-size: 14px; padding: 5px">
        一旦开始生酮，你就会发现许多神奇的「好处」和「副作用」。
    </p>
    <p style="line-height: normal; white-space: normal;">
        <br/>
    </p><img data-s="300,640" data-type="jpeg" src="http://image2.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpel9qcGcvdEFBUWx2dXk2NnBqM1ZMZ2pOTUFxcjJQMmRCTEZhc1FwamtPaWFiTG1RTjN0OVo3RUJxNURMM3NuZWdzU0NtaWFLSTZkWm9wWWljclVsdEJ4YjRpY2VVQXV3LzA/d3hfZm10PWpwZWc=" data-ratio="0.732824427480916" data-w="262" style="width: 100%"/>
    <p style="line-height: normal; white-space: normal;">
        <br/>
    </p>
    <p style="white-space: normal; font-size: 14px; padding: 5px">
        ▍潜在好处：
    </p>
    <ul style=" display: inline-block;" class=" list-paddingleft-2">
        <li>
            <p style="border-bottom: solid 1px #e3e3e3">
                <span style="font-size: 14px; color: #333333;"> 食欲变小</span>
            </p>
        </li>
        <li>
            <p style="border-bottom: solid 1px #e3e3e3">
                <span style="font-size: 14px; color: #333333;"> 体重、体脂下降（通常刚刚开始生酮饮食的时候体重会下降最快，因为身体排出了多余的水，然后体重下降的速率会慢慢趋于稳定，可能有平台期（weight loss plateau））</span>
            </p>
        </li>
        <li>
            <p style="border-bottom: solid 1px #e3e3e3">
                <span style="font-size: 14px; color: #333333;"> 头脑清晰（适应后）</span>
            </p>
        </li>
        <li>
            <p style="border-bottom: solid 1px #e3e3e3">
                <span style="font-size: 14px; color: #333333;"> 精力旺盛（适应后）</span>
            </p>
        </li>
        <li>
            <p style="border-bottom: solid 1px #e3e3e3">
                <span style="font-size: 14px; color: #333333;"> 情绪稳定（长期好处）</span>
            </p>
        </li>
        <li>
            <p style="border-bottom: solid 1px #e3e3e3">
                <span style="font-size: 14px; color: #333333;"> 皮肤变好（长期好处）</span>
            </p>
        </li>
        <li>
            <p style="border-bottom: solid 1px #e3e3e3">
                <span style="font-size: 14px; color: #333333;"> 性激素水平（长期好处）</span>
            </p>
        </li>
        <li>
            <p style="border-bottom: solid 1px #e3e3e3">
                <span style="font-size: 14px; color: #333333;"> 血糖降低（长期好处）</span>
            </p>
        </li>
        <li>
            <p style="border-bottom: solid 1px #e3e3e3">
                <span style="font-size: 14px; color: #333333;"> 血压变低（长期好处）</span>
            </p>
        </li>
        <li>
            <p>
                <span style="font-size: 14px; color: #333333;"> 血脂指标变得更健康（长期好处：HDL水平升高、LDL水平降低、LDL脂蛋白颗粒变大）</span>
            </p>
        </li>
    </ul>
    <p style="line-height: normal; white-space: normal;">
        <br/>
    </p><img data-s="300,640" data-type="jpeg" src="http://image2.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpel9qcGcvdEFBUWx2dXk2Nm9sNzBVNWx6V3FpYmdZbmE3TzdjekdobG13T2FFWnFSZWljWW9Hb29XazVEZnhmNFI3RDhUeDBPcmlidThpY25NQk14bkZteEN2UHhrWHZ3LzA/d3hfZm10PWpwZWc=" data-ratio="0.75" data-w="640" style="width: 100%"/>
    <p style="line-height: normal; white-space: normal;">
        <br/>
    </p>
    <p style="white-space: normal; font-size: 14px; padding: 5px">
        ▍可能的副作用和风险：
    </p>
    <ul style=" display: inline-block; width: 100%" class=" list-paddingleft-2">
        <li>
            <p style="border-bottom: solid 1px #e3e3e3">
                <span style="font-size: 14px; color: #333333;"> 开始几天会特别想吃甜食或淀粉类</span>
            </p>
        </li>
    </ul>
    <ul style="width:  50%; display: inline-block;" class=" list-paddingleft-2">
        <li>
            <p style="border-bottom: solid 1px #e3e3e3">
                <span style="font-size: 14px; color: #333333;">无力、头晕</span>
            </p>
        </li>
        <li>
            <p style="border-bottom: solid 1px #e3e3e3">
                <span style="font-size: 14px; color: #333333;">低血糖</span>
            </p>
        </li>
        <li>
            <p style="border-bottom: solid 1px #e3e3e3">
                <span style="font-size: 14px; color: #333333;">便秘<br/></span>
            </p>
        </li>
        <li>
            <p style="border-bottom: solid 1px #e3e3e3">
                <span style="font-size: 14px; color: #333333;">拉肚子<br/></span>
            </p>
        </li>
        <li>
            <p>
                <span style="font-size: 14px; color: #333333;">虚弱、发抖</span>
            </p>
        </li>
    </ul>
    <ul style="width:  50%; display: inline-block; margin-top: 0px; padding-top: 0px" class=" list-paddingleft-2">
        <li>
            <p style="border-bottom: solid 1px #e3e3e3">
                <span style="font-size: 14px; color: #333333;">尿频</span>
            </p>
        </li>
        <li>
            <p style="border-bottom: solid 1px #e3e3e3">
                <span style="font-size: 14px; color: #333333;">晚上腿抽筋</span>
            </p>
        </li>
        <li>
            <p style="border-bottom: solid 1px #e3e3e3">
                <span style="font-size: 14px; color: #333333;">失眠</span>
            </p>
        </li>
        <li>
            <p style="border-bottom: solid 1px #e3e3e3">
                <span style="font-size: 14px; color: #333333;">心悸、心跳变快</span>
            </p>
        </li>
        <li>
            <p>
                <span style="font-size: 14px; color: #333333;">脱发</span>
            </p>
        </li>
    </ul>
    <p style="line-height: normal; white-space: normal;">
        <br/>
    </p>
    <p style="white-space: normal; font-size: 14px; padding: 5px">
        这些症状看起来好像挺可怕，但其实都是暂时的，只要做好对策，在 1-3 个月内就会恢复正常。
    </p>
    <p style="white-space: normal; font-size: 14px; padding: 5px">
        关于适应期的应对方法，可以在公众号对话框回复【适应期】查看相关文章。
    </p>
    <p style="white-space: normal; font-size: 14px; padding: 5px">
        师姐当时花了五周的时间来适应生酮，那五周我几乎每天都犯困、头痛、便秘、晚上腿抽筋、健身也没力气、心率也从平时的53左右变成了63左右。然而一旦熬过了适应期周，我的一切就回复正常了，反而还觉得比以前更有精神，情绪也更加稳定。
    </p>
</section>
<section class="" style="padding: 20px 10px; color: #333; font-family: 微软雅黑; white-space: normal; margin-bottom: 3px; position: relative;
        background-color: #f2f2f2; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(#fafafa, #f2f2f2); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#fafafa, #f2f2f2); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#fafafa, #f2f2f2); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#fafafa, #f2f2f2); /* Standard syntax */">
    <p style="line-height: normal; white-space: normal;">
        <br/>
    </p>
    <p style="white-space: normal; color: inherit; font-family: 微软雅黑; font-size: 1em; text-align: left;">
        <strong style="color: inherit; font-size: 16px; text-decoration: inherit;color: #333;padding: 20px 5px;">师姐为何要做生酮人？</strong>
    </p>
    <p style="line-height: normal; white-space: normal;">
        <br/>
    </p>
    <p style="white-space: normal; font-size: 14px; padding: 5px">
        师姐和每个爱美的女孩子一样，曾经尝试过很多不同的饮食方法：计算卡路里、低脂高蛋白、低GI、素食、哥本哈根……
    </p>
    <p style="white-space: normal; font-size: 14px; padding: 5px">
        甚至年轻时还尝试过一些离谱的：果汁排毒、苹果减肥、香蕉减肥……(⊙…⊙ )
    </p>
    <p style="line-height: normal; white-space: normal;">
        <br/>
    </p>
    <p style="white-space: normal; font-size: 14px; padding: 5px">
        我相信用过这些方法的同学们都和我经历过一样的故事：
    </p>
    <p style="white-space: normal; font-size: 14px; padding: 5px">
        曾经我和食物是敌人，吃什么都要计算卡路里和脂肪，偶尔有忍不住放纵了一餐，还会懊恼不已，总是处在和食物斗争的状态。长期肚子吃不饱，完全靠用意志力和自己的「食欲本能」战斗着。
    </p>
    <p style="line-height: normal; white-space: normal;">
        <br/>
    </p><img data-s="300,640" data-type="jpeg" src="http://image2.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpel9qcGcvdEFBUWx2dXk2NnFra1QzdGhpYVZHRkdGWmlhWkxpY0l1cUNpYVJjU2hJOTdoU0pOaWFqWlhSNnJsUlFYNld5a1FZdlNSaWJIZ3A4ZmlhaWN5T1hJVGNSUEhRMU1rUS8wP3d4X2ZtdD1qcGVn" style="width: 100%"/>
    <p style="line-height: normal; white-space: normal;">
        <br/>
    </p>
    <p style="white-space: normal; font-size: 14px; padding: 5px">
        折腾了那么多，最后我停在了生酮饮食（目前是温和的生酮饮食：碳水 &lt; 50克/天）。
    </p>
    <p style="white-space: normal; font-size: 14px; padding: 5px">
        之所以喜欢生酮饮食，是因为我相信它是人类最原始的生活方式。它重新让我学会了从「真正的食物」（real food）中汲取最多的营养，而不是被「加工食品」（processed food）摧毁健康。
    </p>
    <p style="white-space: normal; font-size: 14px; padding: 5px">
        我理解的生酮饮食并不是强调「脂肪」有多神奇的作用，而强调如今社会流行的过高「碳水化合物」和过多「加工食品」可能给我们健康带来的隐患
    </p>
    <p style="line-height: normal; white-space: normal;">
        <br/>
    </p><img data-s="300,640" data-type="jpeg" src="http://image2.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpel9qcGcvdEFBUWx2dXk2Nm9sNzBVNWx6V3FpYmdZbmE3TzdjekdoSzBEM1VWWDIzWVB6M3Y2UVNCNklDazA2bzJXT0ZpYkxrdUtsRVgyeFlqNnJ1bE9xaWN4SUVKOEEvMD93eF9mbXQ9anBlZw==" data-ratio="0.6563636363636364" data-w="550"/>
    <p style="line-height: normal; white-space: normal;">
        <br/>
    </p>
    <p style="white-space: normal; font-size: 14px; padding: 5px">
        当然，还有一个喜欢生酮饮食的原因就是：终于可以吃饱啦，再也不用去纠结卡路里了，我和食物又重新变成了好朋友了。(*￣∇￣*)
    </p>
</section>
<section class="" style="padding: 20px 10px; color: #333; font-family: 微软雅黑; white-space: normal; margin-bottom: 3px; position: relative;
        background-color: #f2f2f2; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(#fafafa, #f2f2f2); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#fafafa, #f2f2f2); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#fafafa, #f2f2f2); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#fafafa, #f2f2f2); /* Standard syntax */">
    <p style="white-space: normal; font-size: 14px; padding: 5px">
        看完了师姐说的，现在你怎么想呢？
    </p>
    <p style="white-space: normal; font-size: 14px; padding: 5px">
        师姐建议：独立思考，根据自己的情况选择，不要盲目跟风。
    </p>
    <p style="white-space: normal; font-size: 14px; padding: 5px">
        生酮饮食对于绝大部分健康人群都相对安全，然而由于它对食物的限制较多，操作起来需要一些基本常识。在没有彻底了解的情况下擅自开始尝试可能会导致某些副作用。所以希望大家在选择生酮饮食之前，先多花时间了解它，再开始施行也不迟！
    </p>
    <p style="line-height: normal; white-space: normal;">
        <br/>
    </p>
    <p style="white-space: normal; font-size: 14px; padding: 5px">
        谢谢耐心的你看到这里，
    </p>
    <p style="line-height: normal; white-space: normal;">
        <br/>
    </p>
    <p style="white-space: normal; font-size: 14px; padding: 5px; text-align: right;">
        爱你们的师姐
    </p>
    <p style="white-space: normal; font-size: 14px; padding: 5px; text-align: right;">
        ——2016年11月21日
    </p>
</section>
<br>
<section class="" style="font-family: inherit; font-size: medium; white-space: normal; text-align: justify; border-width: 0px; border-style: initial; border-color: initial; clear: both; text-decoration: inherit;">
    <p style="color: inherit; font-size: 1em;">
        <span style="color: #D6D6D6;"><strong>参考：</strong></span>
    </p>
    <p>
        <span style="color: #D6D6D6;"><em><strong style="font-size: 11.25px; color: rgb(178, 178, 178); text-decoration: inherit;">•</strong></em></span><em><span style="color: #D6D6D6;"><strong style="font-size: 11.25px; color: rgb(178, 178, 178); text-decoration: inherit;"> <span style="color: #D6D6D6;">Ketogenic Diet Literature Review by Sarah Ballantyne, PhD and Denise Minger</span></strong><br/></span></em>
    </p>
    <p>
        <em><span style=";color: #D6D6D6;;font-size: 11.25px;"><strong>• Beyond weight loss: a review of the therapeutic uses of very-low-carbohydrate (ketogenic) diets A Paoli, A Rubini, J S Volek and K A Grimaldi</strong><strong style="font-size: 11.25px; color: rgb(178, 178, 178); text-decoration: inherit;"></strong></span></em>
    </p>
    <p>
        <em><span style="font-size: 11.25px; color: #D6D6D6;"><strong>• Keto Clarity: Your Definitive Guide to the Benefits of a Low-Carb, High-Fat Diet Book by Jimmy Moore</strong></span></em>
    </p>
    <p>
        <em><span style="font-size: 11.25px; color: #D6D6D6;"><strong>• RuledMe</strong></span></em>
    </p>
    <p>
        <em><span style="font-size: 11.25px; color: #D6D6D6;"><strong>• Diet Doctor</strong></span></em>
    </p>
    <p>
        <em><span style="font-size: 11.25px; color: #D6D6D6;"><strong>• Ketogenic Diet Resource</strong></span></em>
    </p>
    <p>
        <em><span style="font-size: 11.25px; color: #D6D6D6;"><strong>• Ketogenic diet - Wikipedia</strong></span></em>
    </p>
    <p>
        <br/>
    </p>
    <section class="" style="font-family: 微软雅黑; border-width: 0px; border-style: initial; border-color: initial; clear: both; text-decoration: inherit;">
        <p>
            <span style="font-size: 10px; color: #FF2941;">【免责声明】</span>
        </p>
        <p>
            <span style="font-size: 10px; color: #FF2941;">该账号发表的所有文章仅作为科普知识分享，目的是让大家了解不同类型的饮食方式和健康观点，填补相关中文资源空缺。由于每个人的体质和疾病状况不同，本账号的内容不能取代专业的医疗建议，请大家为自己的健康做出明智的选择。</span>
        </p>
        <p>
            <span style="font-size: 10px;">【版权说明】</span>
        </p>
        <p>
            <span style="font-size: 10px;">本文为 @X生酮实验室 原创，欢迎各位分享到自己的朋友圈、微博。任何其他媒体及账号不得进行抄袭，未经允许在其他地方看到都视为盗用，并坚决举报到底。文中部分图片设计来自 freepik、flaticon 和 google image。</span>
        </p><span style="font-size: 10px;"></span>
    </section>
    <p style="white-space: normal; font-family: 微软雅黑;">
        <img data-s="300,640" data-type="jpeg" src="http://image2.135editor.com/cache/remote/aHR0cHM6Ly9tbWJpei5xbG9nby5jbi9tbWJpel9qcGcvdEFBUWx2dXk2NnFSZ0VsdlljTHZybnZka3VjaWFyM0ZReUVDQ0NnUlZSTWlhMVhINTVFS2pMYmpXc2hwSU9NbmoxTUlmbEN3TVZpYWt4NWMwcXhzTjMzRGcvMD93eF9mbXQ9anBlZw==" data-ratio="0.4310850439882698" data-w="1023"/>
    </p>
</section>