
.datepickerdemoBasicUsage {
  /** Demo styles for mdCalendar. */ }
  .datepickerdemoBasicUsage md-content {
    padding-bottom: 200px; }
  .datepickerdemoBasicUsage .validation-messages {
    font-size: 12px;
    color: #dd2c00;
    margin-left: 15px; }

#calculation th,
#calculation td {
	border-top: solid 0px transparent;
}

.calculation-title {
	font-size: 30px;
}

#calculation_form1 table {
	margin: 0px;
}

#calculation_form1 .panel-footer p {
	padding: 0 6px 0 6px;
}

md-menu-content {
    max-height: 800px;
    height:420px;
}


.referring ul li{
	list-style-type: decimal;
}

.container-calculation .col-xs-12 {
	padding: 0px;
	margin-top: 80px;
}

#calculation .panel {
	margin-top: 10px;
}

.btn-prev {
	text-align: left;
}

.btn-next {
	text-align: right;
}

.btn-prev .btn,
.btn-next .btn {
	background-color: #9ed9d0;
	color: white;
	font-size: 16px;
}

.bfr-img-btn {
	border-radius: 4px;
    background-color: #9ed9d0;
    color: white;
}

